{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="d-flex justify-content-center align-items-center position-absolute w-100 h-100" 
  style="background-color: #ea580c; overflow: hidden;">
  <div class="login border p-5 rounded-5 shadow-sm bg-white">
    <h5 class="text-center mb-4">Edit Anime</h5>
    <form method="POST">
      {% csrf_token %}
      <table class="table table-borderless">
        {{ form.as_table }}
        <tr>
          <td></td>
          <td>
          </td>
        </tr>
      </table>
      <input type="submit" value="Edit Anime" class="btn btn-primary mb-4 w-100 create-btn" />
    </form>
  </div>
</div>
{% endblock %}